---
import "../../assets/css/input.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/aboutUs/hero";
import Timeline from "../components/aboutUs/timeline";
import Footer from "../components/footer";
---

<Layout title="OTTOGAIN">
  <main>
    <div class="relative min-h-[600px]">
      <Hero client:only="react" />
    </div>

    <Timeline client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
