---
import "../../assets/css/input.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/contactUs/hero";
import Form from "../components/contactUs/form";
import Footer from "../components/footer";
---

<Layout title="">
  <main>
    <div class="relative min-h-[600px]">
      <Hero client:only="react" />
    </div>

    <Form client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
