---
import "../../assets/css/input.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/partnership/hero";
import Content from "../components/partnership/content";
import Footer from "../components/footer";
---

<Layout title="OTTOGAIN">
  <main>
    <div class="relative min-h-[600px]">
      <Hero client:only="react" />
    </div>

    <Content client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
